# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Sublime Project
*.sublime-project
*.sublime-workspace
catkin_ws/.catkin_workspace
catkin_ws/build/
catkin_ws/devel/
catkin_ws/src/CMakeLists.txt

