[Unit]
Description=Stompy control software
Wants=network.target
After=network-online.target systemd-networkd.service

[Service]
Type=Idle
ExecStart=/home/stompy/bbbStuff/scripts/startup
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
